# Python
__pycache__/
*.py[cod]
*$py.class

# Models (Large files)
*.h5
*.keras
*.SavedModel
*.pth

# Datasets
Rice_Dataset/
Rice_Dataset_Split/
data/
datasets/
*.zip

# Environment
.env
.venv
env/
venv/
.DS_Store
